{% extends "todo.html" %}
{% block extra_media %}
{% include "extra_css.html" %}
{% endblock %}

{% block title %}Проекты{% endblock %}

{% block left %}
{% endblock %}

{% block content %}

<div style="margin-bottom:20px;">
<h1 style="display: inline; padding-right: 15px">Проекты</h1>
<div style="float:right; text-align:right; margin-bottom:20px;">
	<a class="button" href="{% url add_project %}" style="color:#333"><span><img src="{{MEDIA_URL}}img/icon_addlink.gif" style="vertical-align:middle; border:0; margin-right:4px;" />Добавить проект</span></a>
</div>
</div>

{% if projects %}
{% for p in projects %}
	<a href="{% url project_details p.id %}" style="font-size:130%; line-height: 175%">{{p.title}}</a>&nbsp;&nbsp;{% if p.files.count %}<a href="{% url project_details p.id %}#files"><img src="{{MEDIA_URL}}img/attach.gif" style="vertical-align:middle;border:0" /></a>{% endif %}<br />
{% endfor %}
{% else %}
Тут пока пусто.<br />
Обратитесь к администратору с просьбой включить вас в команду какого-нибудь проекта.
{% endif %}

{% endblock %}